// Breakpoints //


$mq-small: '(min-width: 23.4375rem)';
$mq-mobile-landscape: '(min-width: 34.06rem)';
$mq-tablet-landscape: '(min-width: 46rem)';
$mq-medium: '(min-width: 48rem)';
$mq-large: '(min-width: 64rem)';
