//Colors

$black: #000000;
$blue: #1572BD;
$dark-blue: #00274D;
$charcoal: #676767;
$dark-grey: #444444;
$grey: #DBDBDB;
$lightgrey: #FAFAFA;
$medium-grey: #EBEBEB;
$slate: #2A5075;
$turquoise: #06B2B1;
$white: #FFFFFF;
$yellow: #FFCF06;

//Gradients

$lp-gradient: linear-gradient(#22A5DC, #1572BD);
$green-gradient: linear-gradient(#C3F56A, #33910D);
$orange-gradient: linear-gradient(#FAD961, #F76B1C);
$red-gradient: linear-gradient(#F5515F, #9F041B);
$purple-gradient: linear-gradient(#C86DD7, #6623AE);
$blue-gradient: linear-gradient(#53B8FD, #4A46C0);
$turquoise-gradient: linear-gradient(#08E4E3, #059393);
